<!DOCTYPE html>
<html>
<head>
  <title>Managers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div>
  <div class="title">
    <h1> The Iron Yard </h1>
  </div>

  <div>
    <nav class="nav-format">
      <%= link_to 'Home', contacts_path %> |
      <%= link_to 'New Contact', new_contact_path %>
    </nav>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
